<div class="container">

  <div class="col-md-8 col-md-offset-2">
<center><h2> Edit your spot </h2></center>


<form method="post" action="/spots/<%=@spot.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <p><label>Name:</label><br>
  <input type="text" name="name" placeholder="<%= @spot.name%>"></p>
  <p><label>Where?</label><br>
  <input type="text" name="location" placeholder="<%= @spot.location%>"></p>
  <p><label>Time of Visit:</label><br>
  <input type="text" name="time_of_visit" placeholder="<%= @spot.time_of_visit%>"></p>
  <p><label>What do you rate it out of 10?</label><br>
  <input type="text" name="rating" placeholder="<%= @spot.rating%>"></p>
  <p><label>More details?</label><br>
  <input type="text" name="rating" placeholder="<%= @spot.details%>"></p>

  <input class="button" type="submit" value="submit">
</form>
</div>
</div>
