<strong><% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %></strong>

<div class="container">

  <div class="col-md-8 col-md-offset-2">
    <center><h2> Edit your spot </h2></center>


    <form method="post" action="/spots/<%=@spot.id%>">
      <input id="hidden" type="hidden" name="_method" value="patch">

        <p><label>Name:</label><br>
        <input type="text" name="spot[name]" placeholder="<%= @spot.name%>"></p>
        <p><label>Location:</label><br>
        <input type="text" name="spot[location]" placeholder="<%= @spot.location%>"></p>
        <p><label>Time of Visit:</label><br>
        <input type="text" name="spot[time_of_visit]" placeholder="<%= @spot.time_of_visit%>"></p>
        <p><label>Rate it:</label><br>
        <input type="text" name="spot[rating]" placeholder="<%= @spot.rating%>"></p>
        <p><label>Comments:</label><br>
        <input type="text" name="spot[rating]" placeholder="<%= @spot.comments%>"></p>

      <input class="button" type="submit" value="submit">
    </form>
  </div>
</div>
