<center><h2> Your J-Seeing </h2>

  <table style="width:80%">
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Time of Visit</th>
      <th>Rating</th>
      <th>Details</th>
    </tr>
    <tr>
    <td><%= @spot.name.capitalize %></td>
    <td><%= @spot.location.capitalize %></td>
    <td><%= @spot.time_of_visit %></td>
    <td><%= @spot.rating %></td>
    <td><%= @spot.details %></td>
  </tr>
  </table>
  <br>

  <form action="/spots/<%= @spot.id%>/delete" method="post">
    <input type="hidden" name="_method" id="hidden" value="delete">
    <input type="submit" value="Delete Spot" name="delete">
  </form>
  <br>
    <p><a href="/spots/<%=@spot.id%>/edit"> Edit Spot </a></p>
    <p><a href="/spots"> Return to Spots </a></p>
  </center>
