
<center><h2> Welcome to the club </h2>

<h3> Check out our spots </h3>

<table style="width:80%">
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Date</th>
    <th>Rating</th>
    <th>Comments</th>
  </tr>
  <% @spots.each do |spot| %>
  <tr>
  <td><a href="/spots/<%=spot.id%>"> <%= spot.name.capitalize %></a></td>
  <td><%= spot.location.capitalize %></td>
  <td><%= spot.time_of_visit %></td>
  <td><%= spot.rating %></td>
  <td id="overflow"><%= spot.comments %></td>
  <% end %>
</tr>
</table>
<br>
</center>
<a href="/users/<%=current_user.slug%>">Your board</a> |
