<header><center><img src="https://i.imgur.com/7ekLS7T.png" height="75" width="75" class="img-responsive main-image"></center></header>
<center><h2> Welcome to the club </h2>

<h3> Check out spots </h3>
<table style="width:80%">
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Time of Visit</th>
    <th>Rating</th>
    <th>Details</th>
  </tr>
  <% @spots.each do |spot| %>
  <tr>
  <td><a href="/spots/<%=spot.id%>"> <%= spot.name %></a></td>
  <td><%= spot.location %></td>
  <td><%= spot.time_of_visit %></td>
  <td><%= spot.rating %></td>
  <td><%= spot.details %></td>
  <% end %>
</tr>
</table>

<br>
<div class="btn-group">
<h3><a href="/spots/new" class="button">New J-Seeing</a>
<a href="/users/<%=current_user.slug %>" class="button">My J-Seeings</a>
<a href="/logout" class="button">Head out</a></h3>
 </div>
