<div class="container">

  <div class="col-md-8 col-md-offset-2">
<center><h2> <%= @user.username.capitalize %>'s Board  </h2>


    <table style="width:80%">
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Date</th>
        <th>Rating</th>
        <th>Details</th>
      </tr>
      <% @user.spots.each do |spot| %>
      <tr>
      <td><a href="/spots/<%=spot.id%>"><%= spot.name %></td>
      <td><%= spot.location %></td>
      <td><%= spot.time_of_visit %></td>
      <td><%= spot.rating %></td>
      <td><%= spot.details %></td>
      <% end %>
    </tr>
    </table>
    <br>

    <p><a href="/spots"> Pull back to Minas Tirith </a> | <a href="/spots/new">New Spot</a></p>

</center>
</div>
</div>
