<div class="container">
  <header><center><img src="https://i.imgur.com/7ekLS7T.png" height="75" width="75" class="img-responsive main-image"></center></header>

  <div class="col-md-8 col-md-offset-2">
<center><h2> <%= @user.username.capitalize %>'s Board  </h2>


    <table style="width:80%">
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Time of Visit</th>
        <th>Rating</th>
      </tr>
      <% @user.spots.each do |spot| %>
      <tr>
      <td><a href="/spots/<%=spot.id%>"><%= spot.name %></td>
      <td><%= spot.location %></td>
      <td><%= spot.time_of_visit %></td>
      <td><%= spot.rating %></td>
      <% end %>
    </tr>
    </table>
    <br>

    <p><a href="/spots"> Pull back to Minas Tirith </a></p>

</center>
</div>
</div>
